<div class="appointment">
<h2> Set appointment </h2>
    <form action='/appointment' method="POST">
    Doctor: <input type=text name="doctor"><br>
    <br>
    Clinic: <input type=text name="clinic"><br>        
    <br>
    Time: <input type=text name="time"><br>
    <br>
    Address: <input type=text name="address"><br>
    <br>
    Phone: <input type=text name="phone"><br>
    <br>
    Description: <input type=text name="description"><br>
    <br>
    <input type=submit><br>
    <br>
    <form>
    </div>

    <style>
    .appointment {
        text-align: left;
        margin-top: 10%;
        margin-bottom: 20%;
        margin-left: 35%;
        padding-bottom: 5%;
        border: 2px solid #8a2be2; 
        border-radius: 10px;
        padding: 50px;
        width: 20%;
        height: 20%;
    }

    .appointment input{
        border: 2px solid #99dcf7; 
        margin-bottom: 15px;
        margin-top: 5px;
        float: center;
        width: 100%;
    }

 
</style>