<h1> 4 0 4 </h1>

<h3> Page not found! Maybe this page moved? Got deleted? Is hiding out in quarantine? Never existed in the first place? </h3>

<h3> Let's go back to <a href="/appointments"><button type="button">"My appointments"</button></a>