<h1><i>Medical Appointment Keeper</i> </h1><br>
<h2>The purpose of this application is to help you keep track of your appointments and never miss a visit to the doctor!</h2>
<p><i>An apple a day won't keep the doctor away...</p>

<br>

<div class="aligncenter">
  <header><img src="https://www.everseat.com/wp-content/uploads/2015/10/appointment_1500x1000-800x400.png" width="800" height="400"" class="img-responsive main-image alt="calendar"></header>
  <div class="col-md-8 col-md-offset-2">
  <br>
  <style>
.aligncenter {
    text-align: center;
}
h1 {text-align: center;}
</style>


<a href="/user/signup">Sign up here!</a><br> 
<br>
<a href="/user/login">Log In here!</a><br>  

  

    
